{
    "parser": "babel-eslint",
    "rules": {
        "strict": 0,
        "quotes": [2, "single", { "avoidEscape": true }],
        "semi": [2, "never"]
    },
    "extends": [
        "eslint:recommended",
        "plugin:react/recommended"
    ],
    "globals": {
        "setTimeout": true,
        "console": true,
        "process": true,
        "window": true,
        "localStorage": true,
        "fetch": true,
        "require": true,
        "Promise": true
    }
}
